
.table-container {
    width: 1000px;
    margin: auto;
    overflow-x: auto; /* Enables horizontal scrolling if table overflows */
}

.table {
    width: 100%; /* Makes the table fit the container */
}

.data-table th, .data-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.data-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.data-table tr:nth-child(even){background-color: #f2f2f2;}

.data-table tr:hover {background-color: #ddd;}